<!DOCTYPE html>
<head>
	<title>Novabot - Quotes</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<form action="/" method="get">
			<%for (var result in results){%>
				<div class="roundContainer">
					<div class="imagem"><img src=<%=results[result].perfil_imagem%>></div>
					<div class="autor"> @<%=results[result].autor%></div>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div class="quote">"<%=results[result].quote%>"</div>
				</div>
				<div>&nbsp;</div>
			<%}%>
		</form>
	</div>
</body>
</html>