<!DOCTYPE html>
<head>
	<title>Novabot - Quotes</title>
</head>
<body>
	<div class="container">
		<form action="/" method="get">
			<fieldset>
				<table>
					<tbody>
						<tr>
							
						</tr>
						<tr>
							<td>
								<ul>
								<%for (var result in results){%>
								  <li>
								  	<div><%=results[result].autor%></div>
								  	<div><%=results[result].quote%></div>
								  	<img src=<%=results[result].perfil_imagem%>
								  </li>    
								 <%}%>
								</ul>
							</td>
						</tr>
						<tr>
							
						</tr>
					</tbody>
				</table>
			</fieldset>
		</form>
	</div>
</body>
</html>