<!DOCTYPE html>
<head>
	<title>Novabot - Quotes</title>
</head>
<body>
	<form action="/" method="get">
		<%for (var result in results){%>
		  	<div class="divTable">
			<div class="divTableBody">
			<div class="divTableRow">
			<div class="divTableCell"><%=results[result].quote%></div>
			<div class="divTableCell">&nbsp;</div>
			</div>
			<div class="divTableRow">
			<div class="divTableCell"><img src=<%=results[result].perfil_imagem%>
			<div class="divTableCell"><%=results[result].autor%></div>
			</div>
			</div>
			</div>
		<%}%>
	</form>
</body>
</html>